/** Custom Properties Start **/
:root {
	/** Website Colors **/
	--white: #fff;
	--red: hsl(0, 78%, 62%);
	--cyan: hsl(180, 62%, 55%);
	--orange: hsl(34, 97%, 64%);
	--blue: hsl(212, 86%, 64%);
	--grey-500: hsl(234, 12%, 34%);
	--grey-400: hsl(212, 6%, 44%);

	/** Website Fonts **/
	--main-font: "Poppins", sans-serif;
}
/** Custom Properties End **/

/** Global CSS Styles **/
html {
	line-height: 1.5;
}

body {
	background-color: #edf6f9;
	font-family: var(--main-font);
	font-style: normal;
	font-size: 1.5rem;
}

/** WebSite General Styles **/
.container,
[class$="__container"] {
	width: min(95%, 120rem);
	margin-inline: auto;
}

/** Utility First **/
.text-center {
	text-align: center;
}

.fw-400 {
	font-weight: 400;
}

.fw-600 {
	font-weight: 600;
}

.grey-400 {
	color: var(--grey-400);
}

.grey-500 {
	color: var(--grey-500);
}

/** Main Section **/
.main {
	min-height: 100dvh;
	padding-block-start: 2rem;
}

.main__title {
	margin-block-end: 1rem;

	.main__span {
		font-weight: 200;
	}
}

@media (width >= 768px) {
	/** Main Section **/
	.main {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-block-start: 0;
	}
}

/** Features Section **/
.features {
	margin-block-start: 5rem;
}

.feature {
	background-color: var(--white);
	border-radius: 0.8rem;
	overflow: hidden;
	box-shadow: rgba(99 99 99 / 0.2) 0rem 0.2rem 0.8rem 0rem;
	border-block-end: 0.025rem solid transparent;
	border-inline-start: 0.025rem solid transparent;
	border-inline-end: 0.025rem solid transparent;
	transition: linear 0.25s border-block-end, linear 0.25s border-inline-start,
		linear 0.25s border-inline-end;
}

.feature:not(:last-child) {
	margin-block-end: 2.5rem;
}

.feature__color {
	height: 0.45rem;
	transition: linear 0.25s height;
}

.feature:first-child .feature__color {
	background-color: var(--cyan);
}

.feature:nth-child(2) .feature__color {
	background-color: var(--red);
}

.feature:nth-child(3) .feature__color {
	background-color: var(--orange);
}

.feature:nth-child(4) .feature__color {
	background-color: var(--blue);
}

.feature__body {
	padding: 2.6rem 3rem 3rem;
	height: 100%;
}

.feature__info {
	margin-block-end: 2rem;
}

.feature__picture {
	display: flex;
	justify-content: flex-end;
}

.feature__image {
	transition: linear 0.25s transform;
}

@media (hover: hover) {
	/** Features Section **/
	.feature:hover {
		border-block-end: 0.025rem solid;
		border-inline-start: 0.025rem solid;
		border-inline-end: 0.025rem solid;
	}

	.feature:first-child:hover {
		border-color: var(--cyan);
	}

	.feature:nth-child(2):hover {
		border-color: var(--red);
	}

	.feature:nth-child(3):hover {
		border-color: var(--orange);
	}

	.feature:nth-child(4):hover {
		border-color: var(--blue);
	}

	.feature:hover .feature__color {
		height: 0.8rem;
	}

	.feature:hover .feature__image {
		transform: scale(1.05);
	}
}

@media (width >= 768px) {
	/** Features Section **/
	.feature:not(:last-child) {
		margin-block-end: 0;
	}

	.features__display {
		display: grid;
		grid-template: repeat(3, 1fr) / repeat(2, 1fr);
		gap: 2.5rem;
	}

	.feature:first-child,
	.feature:nth-child(3) {
		justify-self: center;
	}

	.feature:first-child {
		grid-area: 1 / 1 / 2 / 3;
	}

	.feature:nth-child(3) {
		grid-area: 3 / 1 / 4 / 3;
	}
}

@media (width >= 992px) {
	/** Features Section **/
	.features__display {
		grid-template: repeat(2, 1fr) / repeat(3, 1fr);
	}

	.feature:first-child,
	.feature:nth-child(3) {
		justify-self: unset;
	}

	.feature:first-child,
	.feature:last-child {
		align-self: center;
	}

	.feature:first-child {
		grid-area: 1 / 1 / 3 / 2;
	}

	.feature:nth-child(2) {
		grid-area: 1 / 2 / 2 / 3;
	}

	.feature:nth-child(3) {
		grid-area: 2 / 2 / 3 / 3;
	}

	.feature:last-child {
		grid-area: 1 / 3 / 3 / 4;
	}
}

/** Footer Section **/
.footer {
	margin-block: 1.5rem;

	.footer__link {
		color: var(--blue);
	}
}
